body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Roboto", sans-serif !important; }

.bg-home {
  background-image: url("../img/bg-topo.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  top: 0; }

nav {
  transition: all ease 0.2s; }
  nav.top-bar {
    background: transparent;
    z-index: 99;
    height: 4rem;
    padding: 10px 50px;
    position: fixed;
    width: 100%; }
    @media only screen and (max-width: 40em) {
      nav.top-bar {
        padding: 10px 10px; } }
    nav.top-bar.top-bar-change {
      background: rgba(29, 190, 179, 0.95);
      transition: all ease 0.3s; }
    nav.top-bar .title-area .name img {
      width: 190px; }
    nav.top-bar .top-bar-section ul.right li, nav.top-bar .top-bar-section ul.right a {
      background: transparent; }
    nav.top-bar .top-bar-section ul.right a {
      transition: all ease 0.2s;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase; }
      nav.top-bar .top-bar-section ul.right a:hover {
        background: none;
        color: #4EF7E8; }
    nav.top-bar .top-bar-section ul.right li.active a {
      font-weight: bold;
      background: transparent; }
      nav.top-bar .top-bar-section ul.right li.active a:hover {
        background: none; }
    nav.top-bar.expanded .top-bar-section ul.right li {
      text-align: center; }
      nav.top-bar.expanded .top-bar-section ul.right li:hover {
        background: #333; }
      nav.top-bar.expanded .top-bar-section ul.right li a {
        background: #333;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 12px; }
      nav.top-bar.expanded .top-bar-section ul.right li.active a {
        background: #18B2A6;
        font-weight: normal; }
      nav.top-bar.expanded .top-bar-section ul.right li:hover {
        background: #333; }

.row {
  max-width: 80rem; }
  .row .full-width {
    width: 100%;
    max-width: 100%; }

.svg-title {
  margin: 0 auto;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 30px; }

section h1 {
  font-size: 80px;
  letter-spacing: -4px; }
  @media only screen and (max-width: 40em) {
    section h1 {
      font-size: 40px;
      letter-spacing: -2px;
      text-align: center; } }

#home {
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  color: #FFF; }
  #home div {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 20px; }
    #home div h1 {
      color: #FFF;
      letter-spacing: -1px;
      font-weight: bold; }
      @media only screen and (min-width: 64.063em) {
        #home div h1 {
          font-size: 6vw; } }
      @media only screen and (min-width: 120.063em) {
        #home div h1 {
          font-size: 120px; } }
    #home div p {
      font-weight: 300; }
      @media only screen and (min-width: 64.063em) {
        #home div p {
          font-size: 2vw; } }
      @media only screen and (min-width: 120.063em) {
        #home div p {
          font-size: 40px; } }
    #home div .button {
      background: transparent;
      border: 1px solid #FFF;
      border-radius: 5px;
      padding: 10px 40px; }
      #home div .button:hover {
        background: #FFF;
        color: #18b2a6; }

#quemsomos {
  background-image: url("../img/bg-oquefazemos.jpg");
  background-size: cover;
  color: #909090;
  padding: 30px 0; }
  @media only screen and (max-width: 40em) {
    #quemsomos {
      background-image: url("../img/bg-oquefazemos-mobile.jpg");
      background-size: inherit; } }
  #quemsomos h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #1DBEB3; }
  #quemsomos .svg-title path {
    fill: #009388; }
  #quemsomos p {
    font-weight: 300;
    text-align: justify;
    font-size: 14px; }
  #quemsomos .row h2 {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #00C39E;
    font-size: 2.5em;
    padding: 10px 0; }
  #quemsomos .row h3 {
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 100;
    text-align: center; }
  #quemsomos .row blockquote {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #26C0B5;
    padding: 20px;
    font-size: 12px; }
    #quemsomos .row blockquote p {
      text-align: center; }

#oquefazemos {
  padding: 30px 0;
  color: #9D9D9D; }
  #oquefazemos h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #333; }
  #oquefazemos .svg-title path {
    fill: #30E8DB; }
  #oquefazemos p {
    font-weight: 300;
    text-align: justify;
    font-size: 14px; }
  #oquefazemos .ferramentas .ico {
    width: 200px;
    height: 200px;
    background: #1DBEB3;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s; }
    #oquefazemos .ferramentas .ico img {
      margin: 45px 0 0 45px;
      width: 180px;
      height: 180px; }
  #oquefazemos .ferramentas span {
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 100;
    color: #909090;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.3s; }
  #oquefazemos .ferramentas:hover .ico {
    border-color: #3de7b3; }
  #oquefazemos .ferramentas:hover span {
    color: #333; }
  #oquefazemos h2 {
    font-weight: 100;
    margin: 40px 0;
    text-align: center;
    color: #00B1A4; }
  #oquefazemos .sistemas {
    padding: 30px 0; }
    #oquefazemos .sistemas .sistemas-ico {
      width: 130px;
      height: 110px;
      margin: 0 auto;
      background-size: 150px; }
      #oquefazemos .sistemas .sistemas-ico.ico-adm {
        background-image: url("../img/adm.png"); }
      #oquefazemos .sistemas .sistemas-ico.ico-fiscal {
        background-image: url("../img/fiscal.png"); }
      #oquefazemos .sistemas .sistemas-ico.ico-educacional {
        background-image: url("../img/educacional.png"); }
      #oquefazemos .sistemas .sistemas-ico.ico-social {
        background-image: url("../img/social.png"); }
    #oquefazemos .sistemas .sistemas-info {
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px; }
      #oquefazemos .sistemas .sistemas-info h3 {
        font-weight: bold;
        color: #1DBEB3;
        transition: all ease 0.2s; }
      #oquefazemos .sistemas .sistemas-info:hover h3 {
        color: #79E4AA; }
      #oquefazemos .sistemas .sistemas-info ul {
        margin: 0; }
        #oquefazemos .sistemas .sistemas-info ul li {
          list-style: none; }

#contato {
  height: 100%;
  padding: 30px 0; }
  #contato h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #575757; }
  #contato .contato-info {
    width: 100%;
    padding: 30px 0;
    background: #2B2B2B; }
    #contato .contato-info h3 {
      color: #FFF;
      text-align: center;
      font-weight: 100; }
    #contato .contato-info p {
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 0;
      color: #A3A3A3; }
    #contato .contato-info hr {
      border-color: #252525;
      box-shadow: 0 1px 0 #343434; }
    #contato .contato-info a {
      color: #1DBEB3;
      transition: all ease 0.2s; }
      #contato .contato-info a:hover {
        color: #05F9E8; }
  #contato #map {
    height: 100%;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 40em) {
      #contato #map {
        height: 50%; } }
    @media only screen and (max-width: 64em) {
      #contato #map {
        height: 70%; } }

/*# sourceMappingURL=main.css.map */
